<form method="POST" action="/auth/signin">
  <link rel="stylesheet" href="./css/main.css">
    <div class="row">
      <div class="col-6">
        <label for="inputAddress">Phone Number</label>
        <input type="phonenumber" class="form-input" placeholder="phone number" />
      </div>
      <div class="col-6">
        <label for="inputAddress">Password</label>
        <input type="password" class="form-input" placeholder="Password" />
      </div>
      <button class="btn-success">Sign in</button>
    </div>
    </div>
  </form>