<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Login Application</title>
</head>
<body>
  <% if(alerts.success){ %> <% alerts.success.forEach(function(msg){ %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
    <% }); %> <% } %> <% if(alerts.error){ %> <%
    alerts.error.forEach(function(msg){ %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
    <% }); %> <% } %>

    <nav class="navigation">
      <a href="/home">Home</a>
      <a href="/auth/logout">Logout</a>
      <a href="/auth/signin">Signin</a>
      <a href="/auth/signup">Signup</a>
    </nav>
    <%- body %>
</body>
</html>